<head>
  {{ partial "meta.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  <link rel="icon" href="{{ .Site.Params.favicon | relURL }}" type="image/x-icon">
  {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ $styles := resources.Get "scaffold.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ $panelset := resources.Get "js/panelset.js" | js.Build "panelset.js" | minify | fingerprint }}
  <script defer src="{{ $panelset.RelPermalink }}"></script>
  {{ $main := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
  <script defer src="{{ $main.RelPermalink }}"></script>
  {{ partial "math.html" . }}
  {{ if eq .Section "research" }}
    <link rel="stylesheet" href="{{ "css/research.css" | relURL }}">
    <script defer src="{{ "js/research.js" | relURL }}"></script>
  {{ end }}
</head>
